style.css Qui a accès Propriétés système Type Feuille de style Taille 7 Ko Espace de stockage utilisé 7 Ko Emplacement Faculties Propriétaire vasanthakumar ninthujan Date de modification 27 mai 2022 par vasanthakumar ninthujan Ouvert 22:48 par moi Date de création 27 mai 2022 Ajouter une description Téléchargement autorisé pour les lecteurs .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 10px; */
    background-color: #0d6efd;
    height: 100px;
    position: absolute;
    bottom: 1%;
    top: 7%;
}


/* .header:hover {
   
} */

.left,
.right {
    background-color: #fff;
}

.logo {
    display: inline-flex;
    max-height: 100px;
    width: auto;
    padding: 0 20px;
}

.logo>img {
    width: 80%;
    height: auto;
}

.profile {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px
}

.profile>.info {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    min-height: 100px;
    background-color: #fff;
}

.profile>.info>.name {
    font-size: 16px;
}

.profile>.info>.id {
    font-size: 16px;
}

.profile>img {
    display: inline-flex;
    width: 40px;
    height: auto;
}

.header>.title {
    color: #FFF;
}

.title {
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    padding-top: 1%;
}

.container {
    position: relative;
    width: 50%;
    align-content: center
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    /* padding-left: 50%; */
    margin-left: 50%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    font-size: 10px;
    padding: 16px 32px;
    /* padding-right: 50%; */
    margin-left: 50%;
}

.fname,
.age,
.address,
.sem,
.country,
.birth {
    font-family: arial;
    margin-top: 3%;
    position: absolute;
    left: 20%;
    bottom: auto;
}

.subject {
    font-family: arial;
    margin-top: 1%;
    position: absolute;
    right: 20%;
}

.lname {
    font-family: arial;
    margin-top: 3%;
    position: absolute;
    right: 20%;
}

.UserId {
    font-family: arial;
    margin-top: 1%;
    position: absolute;
    right: 20%;
}

.User {
    font-family: arial;
    margin-top: 3%;
    position: absolute;
    left: 20%;
}

.email,
.level {
    font-family: arial;
    margin-top: 1%;
    position: absolute;
    right: 20%;
}

.status {
    font-family: arial;
    margin-top: 4%;
    position: absolute;
    right: 20%;
}

.stat {
    font-family: arial;
    margin-top: 4%;
    position: absolute;
    right: 20%;
}

.pass {
    font-family: arial;
    margin-top: 18%;
    position: absolute;
    left: 57%;
}

.gender {
    font-family: arial;
    margin-top: 18%;
    position: absolute;
    left: 20%;
}

.gen {
    font-family: arial;
    margin-top: 20%;
    position: absolute;
    left: 20%;
}

.password {
    font-family: arial;
    margin-top: 12%;
    position: absolute;
    left: 55%;
}

.button {
    position: absolute;
    right: 45%;
    margin-top: 3%;
}

.fname>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.lname>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.subject>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.birth>input[type=date] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.password>input[type=password] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.pass>input[type=password] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.email>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.address>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.age>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

select {
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#menuslide {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menuslide li {
    display: block;
    width: 130px;
    background: #000;
    border-bottom: #0d6efd 2px solid;
}

#menuslide li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#menuslide li a:hover {
    background: #0d6efd;
}

#menuslide ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

#menuslide ul li {
    width: 130px;
}

#menuslide ul a {
    display: block;
    padding: 10px;
    color: #fff;
}

#menuslide .menuslide2 li a {
    padding: 5px;
    background: #00C;
}

.button {
    /* background-color: #4CAF50; */
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.buttonBackground {
    background-color: #000;
}

.framerows {
    border-color: #000;
    border-style: solid;
    border-width: 3px;
}

.framecols {
    border-color: #000;
    border-style: solid;
    border-width: 3px;
}

.text {
    font-size: 10px;
    padding: 16px 32px;
    /* padding-right: 50%; */
    margin-left: 50%;
}

.Date {
    font-family: arial;
    margin-top: 3%;
    position: absolute;
    left: 10%;
}

.time {
    font-family: arial;
    margin-top: 3%;
    position: absolute;
    right: 30%;
}

.sub {
    font-family: arial;
    margin-top: 6%;
    position: absolute;
    left: 10%;
}

.levels {
    font-family: arial;
    margin-top: 9%;
    position: absolute;
    left: 10%;
}

.Studies {
    font-family: arial;
    margin-top: 12%;
    position: absolute;
    left: 10%;
}

#tablebtn {
    position: absolute;
    right: 45%;
    margin-top: 15%;
}

.hidden {
    display: none;
}

#commonTable {
    position: absolute;
    margin-top: 20%;
}

#submitbtn {
    position: absolute;
    right: 45%;
    margin-top: 35%;
    overflow: hidden
}

#Addbtn {
    position: absolute;
    right: 45%;
    margin-top: 70%;
    overflow: hidden
}

#removeTable {
    position: absolute;
    margin-top: 12%;
}

.studId {
    font-family: arial;
    margin-top: 1%;
    position: absolute;
    left: 38%;
}

#remtblbtn {
    position: absolute;
    right: 45%;
    margin-top: 5%;
    overflow: hidden
}

.user {
    font-family: arial;
    margin-top: 4%;
    position: absolute;
    left: 15%;
}

.stuId {
    font-family: arial;
    margin-top: 6%;
    position: absolute;
    left: 15%;
}

.oldPass {
    font-family: arial;
    margin-top: 10%;
    position: absolute;
    left: 15%;
}

.newPass {
    font-family: arial;
    margin-top: 14%;
    position: absolute;
    left: 15%;
}

.rePass {
    font-family: arial;
    margin-top: 18%;
    position: absolute;
    left: 15%;
}

#passbtn {
    position: absolute;
    left: 30%;
    margin-top: 20%;
    overflow: hidden
}

.stuId>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.rePass>input[type=password] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.oldPass>input[type=password] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.newPass>input[type=password] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.UserId>input[type=text] {
    border: 2px solid #0d6efd;
    border-radius: 4px;
}